body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    
}
h3 {
    color:#272822;
}
p{
    color: dimgray;
}
.nav-bar {
    float: right;
    margin:0% 5%;
    padding-bottom: 30px;
}


.nav-bar li {
    list-style: none;
    display: inline-block;
}
.nav-bar a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 14px;
    color:#212422;
    font-weight: bold;
    
}
.orange-highlight{
    color: orange;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.top-section {
    width: 100%;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#projects {
    background-color: #F8F9FC;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
    margin-left:5%;
    margin-right: 5%;
}
.wrapper {

}
h3 {
    text-align: center;
}
.one-third {
    width: 30%;
    border: 1px solid black;
    float: left;
    padding: 10px;
    margin-right: 10px;
    
z 
}
.one-third img {
    width: 100%;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
    border-radius: 5%;
}
.chat-section {
    margin:auto;
    width: 600px;
    height: 50px;
    margin-top: 40px;
}
.chat {
    margin-bottom: 20px;
    background-image: url("images/chat.png");
    width: 600px;
    height: 400px;
    background-size: 600px 200px;
    background-repeat: no-repeat;
}
.chat p {
    float: left;
    color: white;
    margin-left: 40px;
    margin-top: 82px;
    font-size: 35px;
    font-weight: bold;
}
.chat a {
    float: right;
    margin-right: 50px;
    margin-top: 82px;
}
.footer {
    text-align: center;
    margin: 40px 0;
}
.footer img {
    width: 30px;
    height: 30px;
}